<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <h3>Add product</h3>
    <p>
        <a th:href="@{/}">
            Back to customer list
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{/product/save}" th:object="${product}"
                        method="post" novalidate="novalidate">
            <input type="hidden" th:field="*{id}">

            <div>
                <label for="tenSanPham">Tên sản phẩm</label>
                    <input id="tenSanPham" type="text" th:field="*{tenSanPham}">
            </div>
            <div>
                <label for="giaSanPham">Giá sản phẩm</label>
                <input id="giaSanPham" type="text" th:field="*{giaSanPham}">
            </div>
            <div>
                <label for="moTaSanPham">Mô tả sản phẩm</label>
                <input id="moTaSanPham" type="text" th:field="*{moTaSanPham}">
            </div>
            <div>
                <label for="nhaSanXuat">Nhà sản xuất</label>
                <input id="nhaSanXuat" type="text" th:field="*{nhaSanXuat}">
            </div>
            <input type="submit" value="Create new product"/>
        </form>
    </div>
    <footer th:replace="layout :: footer"></footer>
</body>
</html>