<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout ::title"></div>
<div th:replace="layout ::columnLeft"></div>
<div class="column middle">
    <font face="inherit">
        <div class="cm">
            <center>
                <h1>Show customers list </h1>
                <th:block th:if="${message}">
                    <p style="color: firebrick" th:text="${message}"></p>
                </th:block>

                <form>
                    <input name="s" type="text" style="width: 30%" value="" placeholder="Search by name:"/>
                    <input type="submit" value="Search" style="width: 30%"/>
                </form><br/>
                <table style="width: 100%">
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Họ và tên</th>
                            <th>Ngày sinh</th>
                            <th>Số CMND</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>

                        <th:block th:each="customer : ${customers}">
                              <tr>
                                <td th:text="${customer.maKhachHang}"></td>
                                <td th:text="${customer.hoTen}"></td>
                                <td th:text="${customer.ngaySinh}"></td>
                                <td th:text="${customer.cmnd}"></td>
                                <td th:text="${customer.sdt}"></td>
                                <td th:text="${customer.email}"></td>
                                <td th:text="${customer.diaChi}"></td>
                                <td><a th:href="@{/customer-edit/__${customer.idKhachHang}__ }" style="color: #45a049">Edit</a></td>
                                <td><a th:href="@{/customer-delete/__${customer.idKhachHang}__ }" style="color: #45a049">Delete</a></td>
                            </tr>
                        </th:block>
                </table>
                <div>
                    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}" style="float: left">Previous</a>
                    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}" style="float: right">Next</a>
                </div>
            </center>
        </div>
    </font>
</div>
<div th:replace="layout ::columnRight"></div>
</body>
</html>