#frame {
  height: 150px;
  width: 150px;
  border: 1px solid aliceblue;
}
img {
  height: 150px;
  width: 150px;
}
#img-button {
  //position: relative;
  padding-left: 30px;
}
strong {
  font-size: x-large;
}
#user-icon {
  height: 80px;
  width: 80px;
}
hr {
  border: 1px solid black;
  width: 85%;
  position: absolute;
  float: left;
}
.table-nv th{
  text-align: right;
}
.table-nv td {
  text-align: left;
}
.table-nv {
  width: 50%;
}
.left-unit {
  padding-left: 25%;
}
