<div class="container-fluid px-0 py-0">
  <nav class="navbar navbar-expand-lg navbar-light sticky-top mx-0 my-0">
    <nav class="navbar navbar-light">
      <a class="navbar-brand" [routerLink]="'/admin'">
        <img
          src="../../assets/photo/logo.png" width="auto" height="30" alt="logo">
      </a>
    </nav>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link pt-3" [routerLink]="'/employee/list'">Quản Lí Bán Hàng</a>
        </li>
        <li class="nav-item">
          <div class="main pt-1 ml-3">
            <div class="form-group has-search mt-2">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </li>
      </ul>
    </div>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" [routerLink]="'/admin'">
        <img class="rounded-circle"
             src="../../assets/photo/avt.jpg" width="40" height="40" alt="logo">
      </a>
      <a class="logout" [routerLink]="'/index'">Đăng xuất</a>
    </nav>
  </nav>
  <div class="row-12 outborder bg-dark px-0">
    <div class="col-2 leftshape px-0 fixed-top">
      <div class="list-group mt-5 ">
        <a [routerLink]="'/employee/partner-management/list-distributor'"
           class="pt-3 pb-3 listQL list-group-item-action sidebarChose">
          Quản Lý Nhà Phân Phối
        </a>
      </div>
    </div>
    <div class="col-10 rightshape px-0 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



