input[type=text] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid white;
  color: #a0d18c;
  width: 350px;
  height: 35px;
  padding-left: 10px;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

//
//.border-top-black-custom {
//  border-top: 1px solid black;
//}
//
//.border-black-custom {
//  border: 1px solid black;
//}
//
//.main-size {
//  height: 90vh
//}
//
//.logo-custom {
//  width: 50px;
//  height: auto;
//}
//
//.header-color {
//  background-color: #204051;
//}
//
//.sidebar-color {
//  background-color: #84a9ac;
//}
//.content-color {
//  background-color: #e4e3e3;
//}
//.btn-outline-custom{background-color: #84a9ac;color: white;border-color: #84a9ac!important;text-align: left !important;}
//.btn-outline-custom:hover{color:white;background-color:#204051}
//.btn-outline-custom.disabled,
//.btn-outline-custom:disabled{color:#28a745;background-color:transparent}
//.space-router{
//  height: 8vh;
//}
.logo {
  width: 143px;
  height: auto;
}

.navbar {
  background-color: #204051;
  height: 10vh;
}

.navbar-brand, .nav-link {
  color: white !important;
}

.outborder {
  height: 100vh;
}

.sidebarChose {
  background-color: #84a9ac;
  color: white !important;
  padding-left: 20px;
}

.sidebarChose:hover {
  background-color: #204051;
  color: white !important;
}

.listQL {
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

.logout {
  color: white !important;
  text-decoration: none;
}

.leftshape {
  top: 10vh;
  height: 90vh;
  width: 36vh;
  background-color: #84a9ac;
}

.rightshape {
  height: 100%;
  width: 200vh;
  position: absolute;
  right: 0px;
  background-color: white;
}
