.modal-content{
  left: -30%;
  width: 160%;
}
.avatar{
  height: 200px;
  float: left;
  margin-bottom: 40px;
}
.modal-body table{
  float: right;
  width: 60%;
  margin: 0 6.8%;
} tr th{
  padding: 10px 0;
  }
.edit-customer-btn1,.edit-customer-btn2{
  margin: 40px 0;
}
.edit-customer-btn1{
  margin-left: 20%;
}
.edit-customer-btn2{
  margin-left: 5%;
}
.edit-customer-btn3{
  position: relative;
  left: -480px;
  bottom: 30px;
}
.check-edit-body{
  margin: auto;
}
.check-edit-btn{
  margin-left: 30%;
}
