<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout ::title"></div>
<div th:replace="layout ::columnLeft"></div>
<div  class="column middle">
    <font face="inherit">
        <center>
            <div class="cm">
                <table style="width: 100%">
                    <tr>
                        <th>Mã học viên</th>
                        <th>Họ và tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                    </tr>
                    <tbody>
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </center>
    </font>
</div>
<div th:replace="layout ::columnRight"></div>
</body>
</html>