<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout ::title"></div>
<div th:replace="layout ::columnLeft"></div>
<div class="column middle">
    <font face="inherit">
        <div class="cm">
            <center>
                <h1>Show products list </h1>
                <th:block th:if="${message}">
                    <p style="color: firebrick" th:text="${message}"></p>
                </th:block>

                <form>
                    <input name="s" type="text" style="width: 30%" value="" placeholder="Search by name:"/>
                    <input type="submit" value="Search" style="width: 30%"/>
                </form><br/>
                <table style="width: 100%">
                        <tr>
                            <th>Mã hàng</th>
                            <th>Tên hàng</th>
                            <th>Loại hàng</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>

                        <th:block th:each="product : ${products}">
                              <tr>
                                <td th:text="${product.maHang}"></td>
                                <td th:text="${product.tenHang}"></td>
                                <td th:text="${product.productType.loaiHang}"></td>
                                <td><a th:href="@{/product-edit/__${product.maHang}__ }" style="color: #45a049">Edit</a></td>
                                <td><a th:href="@{/product-delete/__${product.maHang}__ }" style="color: #45a049">Delete</a></td>
                            </tr>
                        </th:block>
                </table>
                <div>
                    <a th:href="@{'/products'(page=${products.number - 1})}" th:if="${products.hasPrevious()}" style="float: left">Previous</a>
                    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
                    <a th:href="@{'/products'(page=${products.number + 1})}" th:if="${products.hasNext()}" style="float: right">Next</a>
                </div>
            </center>
        </div>
    </font>
</div>
<div th:replace="layout ::columnRight"></div>
</body>
</html>