#searchValue{
  position: relative;
}
#searchValue select{
  position: absolute;
  width: 170px;
  right: 2px;
}
#searchValue .title{
  position: absolute;
  top: 18px;
  left: 51px;
}
#searchValue .title2{
  position: absolute;
  top: 64px;
  left: 51px;
}
hr{
  border: black solid 1px;
}
#parentInput{

}
#sunInput{
  width: 140px;
  height: 30px;
}
//.modal-dialog{
//  max-width: 60%;
//}


